.font-style {
  color: blueviolet;
}

.box_style {
  background-color: blue;
}

.container {
  height: 700;
  border: 1px solid black;
}

.sub_container {
  height: 250;
  border: 1px solid black;
}

/* 모든 div에 적용 */
div {
  padding: 10px;
}